.page {
  --background: var(--color-surface-muted);
  --foreground: var(--color-white);

  --text-primary: var(--color-black);
  --text-secondary: var(--color-text-soft);

  --button-primary-hover: var(--color-text-dark);
  --button-secondary-hover: var(--color-surface-soft);
  --button-secondary-border: var(--color-border-muted);

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--foreground);
  padding: 120px 60px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 24px;
}

.intro h1 {
  max-width: 320px;
  font-size: var(--font-size-display);
  font-weight: var(--font-weight-semibold);
  line-height: 48px;
  letter-spacing: -2.4px;
  text-wrap: balance;
  color: var(--text-primary);
}

.intro p {
  max-width: 440px;
  font-size: var(--font-size-md-large);
  line-height: 32px;
  text-wrap: balance;
  color: var(--text-secondary);
}

.intro a {
  font-weight: var(--font-weight-medium);
  color: var(--text-primary);
}

.ctas {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 440px;
  gap: 16px;
  font-size: var(--font-size-md);
}

.ctas a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  border-radius: 128px;
  border: 1px solid transparent;
  transition: 0.2s;
  cursor: pointer;
  width: fit-content;
  font-weight: var(--font-weight-medium);
}

a.primary {
  background: var(--text-primary);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--button-secondary-border);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: var(--font-size-32);
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: var(--color-black);
    --foreground: var(--color-black);

    --text-primary: var(--color-surface-soft);
    --text-secondary: var(--color-text-muted);

    --button-primary-hover: var(--color-border-muted);
    --button-secondary-hover: var(--color-black);
    --button-secondary-border: var(--color-black);
  }
}

.code {
  font-family: var(--font-geist-mono);
  font-size: var(--font-size-code);
  background: color-mix(in srgb, currentColor 8%, transparent);
  padding: 0.1em 0.4em;
  border-radius: 6px;
}
